In [1]:
import os

import numpy as np
import pandas as pd

In [2]:
filename = 'legacy_analysis/legacy_starlist.csv'
starlist = pd.read_csv(filename)

In [4]:
starlist.loc[starlist.name=='73344']

Empty DataFrame
Columns: [Unnamed: 0, Nobs, Nobs_rj, baseline, days_since, end_obs, name, start_obs, temp_date, temp_obs, NAME, HR, HD, SAO, GL, LICK, HIPP, CMP, RA, DEC, ECLON, ECLAT, RAH, RAM, RAS, DECD, DECM, DECS, EPOCH, PAR, PMR, PMD, V, BV, J, H, K, SPTYPE, SPCLASS, RADVEL, PROT, S, RHK, AGE, HINDEX, KINDEX, VRMS, VINT, SRMS, TEMPL, DSST, TAG, OBSPRIORITY, COUNTS, NOBS, NPLANET, FE, TEFF, LOGG, ULOGG, VSINI, MSTAR, UMSTAR, RSTAR, URSTAR, MV, BOLCOR, LSTAR, ULSTAR, COORDREF, CHROMREF, COMMENTS, TARGET_SOURCE, SECACC, BC, JITTER, MERIT, GHENRY, SP2, SP1, RV_BARY, SIG_BIN, SIG_LINE, CHI_NU, PROB_CHI, PERPER, PERHT, P, TP, E, OM, ONEKEPK, MSINI, A, CHI, FAP, TWOKEP1_P, TWOKEP1_TP, TWOKEP1_E, TWOKEP1_OM, ...]
Index: []

[0 rows x 139 columns]

In [4]:
bash_target = 'legacy_full_search.sh'
bash_writer = open(bash_target, 'w')

In [5]:
for name in starlist.name:
    bash_writer.write('python search_away.py \'{}\' \n'.format(name))
bash_writer.close()