In [1]:
import os

import numpy as np
import pandas as pd

In [ ]:
filename = './final_legacy_starlist.csv'
starlist = pd.read_csv(filename)

In [ ]:
bash_target = 'legacy_full_search.sh'
bash_writer = open(bash_target, 'w')

In [ ]:
for name in starlist.name:
    bash_writer.write('python search_away.py \'{}\' \n'.format(name))
bash_writer.close()

## Just make a list of names.

In [ ]:
name_target = 'legacy_names.txt'
name_writer = open(name_target, 'w')

In [ ]:
for name in starlist.name:
    name_writer.write('{}\n'.format(name))
name_writer.close()

## Do the same for APF-50.

In [ ]:
with open('apf50.txt') as f:
    content = f.readlines()
apflist = [x.strip() for x in content] 

apf_target = 'apf50_search.sh'
apf_writer = open(apf_target, 'w')

for name in apflist:
    bash_writer.write('python search_away_options.py \'{}\' \n'.format(name))
bash_writer.close()

## Do the same for the updated Legacy catalog, 7/19.

In [7]:
filename = './legacy_719_starlist.txt'
starlist = pd.read_csv(filename)#, header='None')
# Make everything a lowercase string.
starlist['Name'] = starlist['Name'].str.lower()
starlist

             Name
0    0748-01711-1
1           10002
2           10008
3          100180
4          100623
5          101259
6           10145
7          101501
8          102195
9          103095
10         103932
11         104067
12         104304
13         104556
14          10476
15         104800
16         105113
17         105631
18         106116
19         106156
20         106315
21          10697
22          10700
23         107148
24          10780
25          10790
26          10853
27         108874
28         109358
29         110315
..            ...
720        189625
721        192020
722        192344
723        193901
724       195019b
725     hip103039
726     hip103269
727        200565
728        200538
729        201203
730     hip106924
731        206387
732        207874
733        209875
734        210312
735        210392
736        210460
737        211038
738        212291
739        212801
740        213628
741        217004
742        218168
743        218209
744        219542
745        219953
746        222697
747        223498
748        223691
749         gl623

[750 rows x 1 columns]

In [11]:
with open('./legacy_719_starlist.txt') as f:
    content = f.readlines()
# Remove extra spaces, and make everything lowercase.
newlist = [x.strip().lower() for x in content]  

new_target = 'legacy_719_search.sh'
new_writer = open(new_target, 'w')

for name in newlist:
    new_writer.write('python search_away_options.py \'{}\' \n'.format(name))
new_writer.close()