# Clean NASA confirmed exoplanet database. Remove Kepler stars and others that definitely are not in our sample.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import analysis

/Users/lee/anaconda/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

In [2]:
props = pd.read_csv('system_props_third.csv')
nasa = pd.read_csv('NASA_planets.csv')

In [3]:
mask = ['K' not in nasa.pl_hostname[i] for i in np.arange(len(nasa))]
nasa = nasa[mask]
nasa = nasa.reset_index(drop=True)

In [4]:
#nasa

# Clean names. Convert non-HD and GL names to names used in the legacy dataset. Start with individual cases.

In [4]:
cnc = nasa.index[nasa['pl_hostname'] == '55 Cnc'].tolist()
for i in cnc:
    nasa.ix[i, 'pl_hostname'] = '75732'
    
ursa = nasa.index[nasa['pl_hostname'] == '47 UMa'].tolist()
for i in ursa:
    nasa.ix[i, 'pl_hostname'] = '95128'
    
gl1148 = nasa.index[nasa['pl_hostname'] == 'GJ 1148'].tolist()
for i in gl1148:
    nasa.ix[i, 'pl_hostname'] = 'hip57050'

/Users/lee/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
nasa.loc[25, 'pl_hostname']

'75732'

In [6]:
HD = []
for i in np.arange(len(nasa)):
    if 'HD' in nasa.loc[i, 'pl_hostname']:
        HD.append(i)
for i in HD:
    nasa.loc[i, 'pl_hostname'] = nasa.loc[i, 'pl_hostname'][3:].replace(' ', '').lower()
    
GJ = []
for i in np.arange(len(nasa)):
    if 'GJ' in nasa.loc[i, 'pl_hostname']:
        GJ.append(i)
for i in GJ:
    nasa.loc[i, 'pl_hostname'] = 'gl'+nasa.loc[i, 'pl_hostname'][3:].replace(' ', '').lower()
    
HIP = []
for i in np.arange(len(nasa)):
    if 'HIP' in nasa.loc[i, 'pl_hostname']:
        HIP.append(i)
for i in HIP:
    nasa.loc[i, 'pl_hostname'] = 'hip'+nasa.loc[i, 'pl_hostname'][4:].replace(' ', '').lower()

# Add number of new planet candidates to system property database.

In [8]:
nasa.to_csv('nasa_mod_test.csv')

In [7]:
hosts = nasa.pl_hostname.unique()
hostdic = {}
for host in hosts:
    subnasa = nasa.loc[nasa.pl_hostname == host]
    num_planets = len(subnasa)
    hostdic[host] = num_planets

In [8]:
hostdic['12661']

2

In [10]:
nasa_num_planets = []

for i in np.arange(len(props)):
    name = props.loc[i, 'name']
    try:
        nasa_num_planets.append(hostdic[name])
    except KeyError:
        nasa_num_planets.append(0)

props['nasa_num_planets'] = nasa_num_planets

In [15]:
props.to_csv('system_props_third_nasa.csv')

In [17]:
props.loc[59, 'name']

'34445'

In [23]:
nasa.loc[nasa['pl_hostname'] == '128311']

,loc_rowid,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_mass,st_masserr1,st_masserr2,st_masslim,st_rad,st_raderr1,st_raderr2,st_radlim,rowupdate,pl_facility
357,358,128311,b,HD 128311 b,Radial Velocity,2,453.019,0.404,-0.404,0.0,...,0.83,0.01,-0.01,0.0,0.76,0.02,-0.02,0.0,2015-06-25,W. M. Keck Observatory
358,359,128311,c,HD 128311 c,Radial Velocity,2,921.538,1.150,-1.150,0.0,...,0.83,0.01,-0.01,0.0,0.76,0.02,-0.02,0.0,2015-06-25,W. M. Keck Observatory

In [24]:
props.loc[props['name'] == '128311']

,Unnamed: 0,curv,dvdt,gamma_apf,gamma_j,gamma_k,gamma_lick,jit_apf,jit_j,jit_k,...,a1,M2,a2,M3,a3,M4,a4,M5,a5,nasa_num_planets
249,249,0.0,0.0,NaN,13.377539,7.411087,NaN,NaN,14.961745,16.75346,...,1.736938,1.960427,1.091068,NaN,NaN,NaN,NaN,NaN,NaN,2